<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>绘图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B56D14F1CD9F7EF0066AEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B56D1681CD9F7F00066AEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B56D1731CD9F7F00066AEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
